@font-face {
    font-family: "yekan";
    src: url('../font/BYekan.ttf') format('truetype'),
    url('../font/BYekan.eot?#iefix') format('embedded-opentype'),
    url('../font/BYekan.woff') format('woff');

}

body {
    margin: 0px;
    background: #ccc;
}

a {
    cursor: pointer;
}

li, ul, div, span, p {
    text-align: right;
    direction: rtl;
}

a {
    text-decoration: none;
}

.yekan {
    font-family: yekan;
}

.fontsm {
    font-size: 9.5pt;
}

.fontmd {
    font-size: 11.5pt;
}

.fontlg {
    font-size: 12.5pt;
}

#header_right {
    width: 720px;
    height: 95px;
    float: right;
}

#header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
}

#header_right_top {
    height: 40px;
}

#header_right_top_lockImg {
    width: 32px;
    height: 32px;
    background: url(../image/lock.png) no-repeat;
    display: block;
    float: right;
}

#header_right_top_singupImg {
    width: 32px;
    height: 32px;
    background: url(../image/signup.png) no-repeat;
    display: block;
    float: right;
    margin-right: 30px;
}

#header_background {
    background: #fff;
}

.header_right_top_a  {
    float: right;
    margin-right: 10px;
    padding-top: 5px;
}

#header_right_bottom {
    height: 50px;
}

#basket_top {
    width: 190px;
    height: 40px;
    float: right;
}

#basket_top_right {
    background: #84c866 url(../image/shopping_logo.png) no-repeat;
    background-position: center;
    width: 54px;
    height: 100%;
    float: right;
}

#basket_top_left {

    width: 96px;
    height: 100%;
    background: #34a334;
    padding: 0 20px;
    float: right;
    line-height: 30px;
}

#basket_top_right_span {

    display: inline-block;
    height: 25px;
    width: 25px;
    background: #84c866 no-repeat scroll 0% 0%;
    border-radius: 100%;
    line-height: 23px;
    margin-top: 7px;
    text-align: center;
    margin-right: 7px;
}

#basket_top_right_color {
    color: black;
}

#search_top {
    width: 480px;
    height: 40px;
    float: right;
    margin-right: 20px;
    position: relative;
}

#search_top_input {
    width: 480px;
    height: 33px;
    margin-top: 2px;
    border: 1px solid #eee;
    padding-right: 10px;
    color: #7f837e;
}

#search_top_input_icon {
    background: url(../image/search.png) no-repeat center #ccc;
    width: 40px;
    height: 37px;
    display: block;
    position: absolute;
    left: -12px;
    top: 2px;
}

#header_left {
    float: left;
}

.menu_down_icon {
    background: rgba(0, 0, 0, 0) url('../image/down-arrow.png') no-repeat scroll 0 0;
}

nav {
    box-shadow: 1px 3px 4px #ccc;
    -moz-box-shadow: 1px 3px 4px #ccc;
    -webkit-box-shadow: 1px 3px 4px #ccc;

}

li {
    list-style: none;
}

ul {
    margin: 0;
}

#menu_top > ul {
    position: relative;
    padding: 0;
    z-index: 5;
}

#menu_top > ul > li {
    float: right;
    height: 40px;
}

#menu_top > ul > li > a {
    padding: 0px 26px;
    display: block;
    line-height: 36px;
    font-size: 13pt;
}


#menu_top > ul > li > ul {

    z-index: 5;
    position: absolute;
    right: 0;
    background-color: #fff;
    width: 1200px;
    padding: 0;
    top: 40px;
    box-shadow: 1px 3px 4px #aaa;
    display: none;
}

#menu_top > ul > li > ul > li {
    float: right;
}

#menu_top > ul > li > ul > li > a {
    padding: 8px 18px;
    display: block;
}

.menu_down_icon {
    width: 15px;
    height: 12px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 2px;
}

.top_menu3_col {
    width: 299px;
    height: 100%;
    border-left: 1px solid #ccc;
    float: right;
}

.top_menu3_col_ul {
    padding-right: 0px;
}

.top_menu3_col_ul li {
    padding-right: 25px;
}

.top_menu3_col_ul li:first-child {
    padding-right: 15px;
    color: #7291c2;
}

.submenu3 {
    display: none;
    width: 1200px;
    height: 350px;
    border-top: 1px solid #eee;
    background: #fff;
    position: absolute;
    right: 0px;
    z-index: 3;
}

.active-menu {
    background: #fff;
    box-shadow: 0 -1px 3px #eee;
}

.active-menu > a {
    color: red;
}

.active-menu a {
    cursor: pointer;
}

#nav {
    width: 100%;
    height: 40px;
    background: #cfefd1;
    border-top: 1px solid #84c28e;
    box-shadow: 1px 3px 4px #aaa;
}

#menu_top {
    width: 1200px;
    height: 40px;
    margin: auto;
}

.top_menu3_col_img {
    width: 379px;
    height: 355px;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

#main {
    width: 1200px;
    margin: 10px auto;
}

#banner_top {
    width: 100%;
    height: 138px;
}

#banner_top img {
    box-shadow: 0 3px 4px #aaa;
    border-radius: 4px;
    width: 100%;
}

#sidebar_right {
    width: 288px;
    float: right;
}

.sidebar_right_image {
    margin: 5px 0 3px;
    border-radius: 4px;
    box-shadow: 0 3px 4px #aaa;
}

#digikala_tv {
    padding: 0;
}

#digikala_tv li {
    margin-bottom: 2px;
}

#digikala_tv li a {
    display: block;
    position: relative;
}

#digikala_tv li a .image-tv {
    border-radius: 4px;
    box-shadow: 0 3px 4px #aaa;
    width: 100%;
    height: 160px;
}

#digikala_tv li a::before {
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    display: block;
    margin-top: 5px;
}

#digikala_tv li .circle {
    transition: all 2s ease;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    background: rgba(255, 255, 255, .3);
    text-align: center;
}

#digikala_tv li :hover .circle {
    background: rgba(255, 255, 255, .5) ! important;
}

#digikala_tv li .play_icon {
    margin: auto;
    margin-top: 19px;

}

#sidebar_right_pic {
    padding: 0px;
}

#sidebar_right_pic li img {
    width: 283px;
    height: 265px;
}

#sidebar_right_pic li {
    box-shadow: 0 3px 4px #aaa;
    border-radius: 4px;
    height: 265px;
    margin: 4px;
    width: 283px;
    overflow: hidden;
}

#last_news_sidebar {
    margin-top: 10px;
    width: 285px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

#last_news_sidebar ul {
    padding: 0px;
}

#last_news_sidebar h3 {
    background: #dadcdd;
    height: 40px;
    color: #7da291;
    padding-right: 10px;
    margin: 0px;
    line-height: 20px;
}

.col_right > img {
    width: 70px;
    height: 70px;
}

#last_news_sidebar ul li a {
    display: block;
    padding: 7px;
    float: right;
}

#last_news_sidebar .col_left {
    float: right;
    width: 188px;
    padding-right: 10px;
}

#last_news_sidebar .col_right {
    float: right;
}

#last_news_sidebar .col_right img {
    border-radius: 50%;
}

#last_news_sidebar p {
    margin: 0;
    padding-top: 5px;
}

#brands_sidebar {
    margin-top: 10px;
}

#brands_sidebar {
    margin-top: 14px;
}

#brands_sidebar a {
    display: block;
    width: 138px;
    height: 95px;
    background: #ffffff;
    float: right;
    margin-left: 6px;
    margin-bottom: 5px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 4px #aaa;
    vertical-align: middle;
    line-height: 110px;

}

#brands_sidebar a img {
    width: 100%;

}

#brands_sidebar a :nth-child(even) {
    float: left;
    margin-left: 0px;
}

#content {
    width: 890px;
    float: left;
    margin-top: 5px;
}

#slider {
    height: 310px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 4px #aaa;
    background: white;
    position: relative;
}

#slider_img {
    height: 260px;
}

#slider_img img {
    height: 260px;
    width: 100%;
}

#slider_img a {
    display: none;
}

#slider_navigator {
    height: 50px;
    background: rgba(0, 0, 0, .5);
}

#slider #prev {
    width: 19px;
    height: 33px;
    display: block;
    position: absolute;
    top: 130px;
    right: 15px;
    background: url(../image/arrow_slider.png) no-repeat;
    background-position: 0px -33px;
    cursor: pointer;
    z-index: 2;
}

#slider #next {
    width: 19px;
    height: 33px;
    display: block;
    position: absolute;
    top: 130px;
    left: 15px;
    background: url(../image/arrow_slider.png) no-repeat;
    cursor: pointer;
    z-index: 2;
}

#slider #slider_navigator ul {
    height: 100%;
    padding: 0;
}

#slider_navigator ul li {
    width: 178px;
    height: 100%;
    float: right;
}

#slider_navigator ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    cursor: pointer;
}

#slider_navigator .active > a {
    background: #ffffff;
    color: #000000;
    position: relative;
}

#slider_navigator .active > a::after {
    content: " ";
    position: absolute;
    top: -13px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12.5px 13px 12.5px;
    border-color: transparent transparent #ffffff transparent;
}

#services_feature {
    width: 890px;
    height: 76px;
    background: #ffffff;
    margin: 8px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    overflow: hidden;
    border-radius: 4px;
}

#services_feature ul {
    padding: 0;
    height: 100%;
}

#services_feature ul li {
    width: 178px;
    float: right;
    height: 100%;
}

#services_feature ul li a {
    display: block;
    height: 100%;
    line-height: 72px;
    padding: 0 10px;
    font-family: yekan;
}

#services_feature ul li a i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../image/slices.png") no-repeat;
    vertical-align: middle;
    margin-left: 8px;
}

#slider2 {
    width: 890px;
    height: 304px;
    background: #ffffff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    overflow: hidden;
    border-radius: 4px;
    margin-top: 8px;
    position: relative;
}

#slider2_content {
    width: 705px;
    float: right;
    height: 100%;
    background: url("../image/slider2_bg.jpg") no-repeat;
}

#slider2_content a {
    display: block;
    height: 100%;
}

#slider2_content a .slider2_content_left img {
    width: 220px;
    margin-right: 40px;
}

#slider2_navigator {
    width: 184px;
    border-right: 1px solid #ccc;
    height: 100%;
    float: left;
    background: #eeeeee;
}

#slider2_navigator ul {
    padding: 0px;
}

#slider2_navigator ul li {
    height: 38px;
}

#slider2 #slider2_navigator ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 37px;
    cursor: pointer;
}

.slider2_content_right {
    width: 400px;
    height: 100%;
    float: right;
}

.slider2_content_left {
    width: 305px;
    height: 100%;
    float: left;

}

.slider2_content_left p {
    font-family: yekan;
    font-size: 15pt;
    text-align: center;
}

.slider2_content_right .title {
    color: red;
    font-family: yekan;
    font-size: 14pt;
    padding-right: 35px;
    padding-top: 10px;
}

.slider2_content_right .price_info {
    height: 35px;
    margin-right: 35px;
}

.price_info_old {
    width: 75px;
    height: 100%;
    background: #cccccc;
    float: right;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
}

.price_info_old::after {
    content: " ";
    position: absolute;
    left: -11px;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #cccccc transparent transparent;
    z-index: 2;

}

.price_info_old::before {
    content: " ";
    width: 95%;
    height: 0;
    right: 2px;
    top: 17px;
    position: absolute;
    border-bottom: .5px solid #000000;
    transform: rotate(-21deg);

}

.price_info_new {

    width: 155px;
    height: 100%;
    background: red;
    float: right;
    margin-right: 3px;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
}

.price_info_new::before {
    content: " ";
    position: absolute;
    right: 0;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #ffffff transparent transparent;

}

.slider2_content_right_p {
    float: right;
    margin: 2px;
    width: 100%;
}

.flipTimer {
    position: absolute;
    top: 195px;
    right: -138px;
    transform: scale(.3);
}

.flipTimer, .flipTimer div {
    direction: ltr !important;
}

.slider2_finished {
    width: 705px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    background: rgba(0, 0, 0, .03);
    color: red;
    font-family: yekan;
    font-size: 35pt;
    text-align: center;
    line-height: 285px;
    display: none;
    z-index: 2;
}

#slider2_navigator .active {
    background: #ff252e;
    color: #ffffff;
    position: relative;
}

#slider2_navigator .active::before {
    content: " ";
    position: absolute;
    right: -17px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 17px;
    border-color: transparent transparent transparent #ff252c;
}

.sliderscroll {
    width: 890px;
    height: 310px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    margin-top: 8px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 4px;
}

.sliderscroll h3 {
    background: #f7f9fa;
    height: 35px;
    padding-right: 10px;
    padding-top: 7px;
    font-family: yekan;
    margin: 0px;
    font-size: 10.5pt;
}

.sliderscroll_content {
    height: 268px;
}

.sliderscroll_prev {
    width: 55px;
    height: 100%;
    float: right;
}

.sliderscroll_next {
    width: 55px;
    height: 100%;
    float: right;
}

.sliderscroll_main {
    width: 780px;
    height: 100%;
    float: right;
    overflow: hidden;
}

.sliderscroll_prev .prev {
    display: block;
    width: 15px;
    height: 42px;
    background: url("../image/slices.png") no-repeat;
    background-position: -852px -677px;
    position: relative;
    right: 15px;
    top: 100px;
    cursor: pointer;
}

.sliderscroll_next .next {
    display: block;
    width: 15px;
    height: 42px;
    background: url("../image/slices.png") no-repeat;
    background-position: -812px -677px;
    position: relative;
    right: 15px;
    top: 100px;
    cursor: pointer;
}

.sliderscroll .sliderscroll_main ul {

    padding: 0;
    height: 100%;
}

.sliderscroll .sliderscroll_main ul li {

    padding: 0;
    width: 195px;
    height: 100%;
    float: right;
}

.sliderscroll .sliderscroll_main ul li a {

    display: block;
    height: 100%;
    text-align: center;
}

.sliderscroll .price {
    color: green;
    font-size: 13pt;
}

.sliderscroll p {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.direct-access {
    width: 290px;
    height: 190px;
    display: block;
    float: right;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    margin-top: 8px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 8px;
}

footer {
    height: 300px;
    width: 100%;
    margin-top: 40px;
    float: right;
}

#footer_top {
    height: 45px;
    background: #6d717a none repeat scroll 0 0;
}

#footer_bottom {
    height: 255px;
    background: #f7f8fa none repeat scroll 0 0;
}

footer .main {
    width: 1200px;
    height: 100%;
    margin: auto;
}

#footer_top span {
    color: #FFFFFF;
}

#footer_top i {
    width: 17px;
    height: 17px;
    background: url(../image/slices.png);
    margin-right: 3px;
    margin-top: 10px;
    display: inline-block;
}

#footer_top ul {
    padding: 0;
    float: left;
    height: 100%;
}

#footer_top li {
    float: right;
    height: 100%;
    margin-left: 65px;
}

#footer_top a {
    color: #FFFFFF;
    line-height: 42px;
}

#footer_bottom .right , .center{
    width: 220px;
    height: 100%;
    float: right;
}

#footer_bottom .left{
    width: 590px;
    height: 100%;
    float: left;
}

#footer_bottom ul li{
    font-family: yekan;
    font-size: 10pt;
    line-height: 48px;
}

#footer_bottom .title{
    font-size: 13pt;
}
 .right ul{
     padding-right: 0;
 }

 .email input{
     width: 430px;
     height: 35px;
     font-family: yekan;
     border: 1px solid #eee

 }

 .btn{
     width: 110px;
     height: 33px;
     background: #208de6;
     display: block;
     float: left;
     margin-left: 19px;
     margin-top: 3px;
     box-shadow: 0px 2px 3px rgba(0,0,0,.2);
     color: #FFFFFF;
     text-align: center;
     font-family: yekan;
     line-height: 30px;
     font-size: 10pt;
     cursor: pointer;
 }

 .social{
     float: left;
     margin-top: 45px;
     width: 100%;

 }

 .social img{
     float: left;
     margin-left: 4px;
 }

 .social_button{
     width: 28px;
     height: 28px;
     display: block;
     float: right;
     background: url("../image/slices.png");
     margin-right: 4px;
 }

